.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header__logo {
  max-width: 254px;
  width: 100%;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .header__logo {
    max-width: 254px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 544px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .header__logo {
    max-width: 188px;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
