.places {
  max-width: 1280px;
  margin-left: 148px;
  margin-right: 148px;
}

.places__list {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 288px;
    margin: unset;
  }
}
